<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>教师账户管理</title>
<link rel="stylesheet" type="text/css" href="<?php echo CSS_URL ?>index.css">
<script type="text/javascript" src="<?php echo JS_URL ?>base.js"></script>
<script type="text/javascript" src="<?php echo JS_URL ?>tool.js"></script>
<script type="text/javascript" src="<?php echo JS_URL ?>base_drag.js"></script>
<script type="text/javascript" src="<?php echo JS_URL ?>index.js"></script>
<script type="text/javascript" src="<?php echo JS_URL ?>getclass.js"></script>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td height="30" background="<?php echo IMG_URL ?>table/tab_05.gif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="30"><img src="<?php echo IMG_URL ?>table/tab_03.gif" width="12" height="30" /></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div align="center"><img src="<?php echo IMG_URL ?>table/tb.gif" width="16" height="16" /></div></td>
                <td width="95%" class="STYLE1"><span class="STYLE3">你当前的位置</span>：[账户管理]-[教师账户]</td>
              </tr>
            </table></td>
            <td width="54%"><table border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="60"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"><img src="<?php echo IMG_URL ?>table/tab_07.gif" width="16" height="30" /></td>
      </tr>
    </table></td>
  </tr>
  
  <tr>
  	<td  colspan="8" width="100%">
      
        
        <div class="query" > 
        <form name="form2" id="form2" method="post" action="__SELF__">
        <table class="table" >
            <tr >                            
                <td  class="th" width="40" align="center" >届别</td>
                <td  class="td"  align="center"><select class="select" name="year" id="year" onchange="getclass('__CONTROLLER__/getclass','year','class')">
                    <option value="" select="select">选择届别</option>
                    <option value="{$date}" select="select">{$date}</option>
                    <option value="{$date-1}" select="select">{$date-1}</option>
                    <option value="{$date-2}" select="select">{$date-2}</option>
                    <option value="{$date-3}" select="select">{$date-3}</option>
                    <option value="{$date-4}" select="select">{$date-4}</option>
                    <option value="{$date-5}" select="select">{$date-5}</option>
                    <option value="{$date-6}" select="select">{$date-6}</option>
                    <option value="{$date-7}" select="select">{$date-7}</option>
                    <option value="{$date-8}" select="select">{$date-8}</option>
                    <option value="{$date-9}" select="select">{$date-9}</option>
                    <option value="{$date-10}" select="select">{$date-10}</option>
                </select>
                </td>
                 <td  class="th" width="40" align="center">班级</td>
                <td  class="td"  align="center"><select class="select" id="class" name="class">
                    <option value="0" select="select">选择班级</option>
                </select></td>
                <td class="th">
                  <a href="#" onclick="document.getElementById('form2').submit();"><div class="th">查询</div></a>
                </td>
      		</tr>
        
        </table>
        </form>     
        </div>

    </td>
  	
  </tr>
  
  
  
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="8" background="<?php echo IMG_URL ?>table/tab_12.gif">&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="b5d6e6">
          <tr>
            <td width="3%" height="22" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center">
              <input type="checkbox" name="checkbox" value="checkbox" />
            </div></td>
            <td width="3%" height="40" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">序号</span></div></td>
            <td width="12%" height="22" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">教职工号</span></div></td>
            <td width="14%" height="22" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">姓名</span></div></td>
            <td width="18%" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">密码</span></div></td>
            <td width="18%" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">权限</span></div></td>
            <td width="15%" height="22" background="<?php echo IMG_URL ?>table/bg.gif" bgcolor="#FFFFFF" class="STYLE1"><div align="center">基本操作</div></td>
          </tr>
          <volist name="list" id="vo" key="k" >
          
          <tr style="color:#444;font-size:14px;">
            <td height="35" bgcolor="#FFFFFF"><div align="center">
              <input type="checkbox" name="class[]" id="s" value="{$vo.class}" />
            </div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center" class="STYLE1">
              <div align="center">{$k}</div>
            </div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span >{$vo.number}</span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span >{$vo.name}</span></div></td>
            <td bgcolor="#FFFFFF"><div align="center"><span >{$vo.password}</span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center">{$vo.power}<span ></span></div></td>
            <td height="20" bgcolor="#FFFFFF"><div align="center"><span ><img src="<?php echo IMG_URL ?>table/edt.gif" width="16" height="16" />
            	<a href="__CONTROLLER__/edit_teacher/class/{$vo.class}">编辑</a></span></div></td>

          </tr>
          
          </volist>
        </table></td>
        <td width="8" background="<?php echo IMG_URL ?>table/tab_15.gif">&nbsp;</td>
      </tr>
    </table></td>
  </tr>

</table>
<div class="list-page" >{$pagelist}</div>
</body>
</html>
