a:link,a:hover,a:visited{text-decoration:none;color:#000000;}
.button a:link,.button a:visited{text-decoration:none;color:#ffffff;}
.query a:link,.query a:visited{text-decoration:none;color:#ffffff;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#e9f7fc;
}

ul,dl,dd,h2,p,form {
	padding:0;
	margin:0;
}
ul li {
	list-style-type:none;
}


body .button{height:40px;font-size:20px;font-weight:100;color:#FFFFFF;	float:left;	}	
body .button .tianjia{
	font-size:16px;
	height:22px;
	width:64px;
	margin:5px 12px;
	padding:3px 13px;
	background-image:url(../../img/table/button.jpg);

	}
body .button .del{
	font-size:16px;
	height:22px;
	width:82px;
	margin:5px 15px;
	padding:3px 4px;
	background-image:url(../../img/table/button.jpg);

	}	
	
.list-page{padding:20px 0;text-align:center;}
.list-page a{margin:0 5px;padding:2px 7px;border:1px solid #ccc;background:#f3f3f3;}
.list-page a:hover{background:#e4e4e4;border:1px solid #908f8f;}
.list-page .current{margin:0 5px;padding:2px 7px;background:#f60;border:1px solid #fe8101;color:#fff;}

.query .table{
border:1px solid #fff;
border-collapse: collapse;
margin:5px;
float:right;
}
.query .th{background:#328aa4  repeat-x;color:#FFF;font-size:15px}

.query .td{
	border:1px solid #FFF;
border-collapse: collapse;
padding-top:0px;padding-left:0px;padding-bottom:0px;padding-right:0px;
margin-top:0px;margin-left:0px;margin-bottom:0px;margin-right:0px;
	}
.query .input{border:1px solid #AA9FAA;width:80px;height:25px;
}
.query .select{border:none;width:90px;height:25px;text-align:center;}
.query .select1{border:none;width:40px;height:25px;}
.query .select2{border:none;width:70px;height:25px;text-align:center;}




#edit2 table{
border:1px solid #fff;
border-collapse: collapse;
}
#edit2 th{background:#328aa4  repeat-x;color:#FFF;font-size:15px}

#edit2 td{	border:1px solid #FFF;border-collapse: collapse;	}
#edit2 textarea,input{border:1px solid #AA9FAA;}
#edit2 select{border:1px solid #AA9FAA; width:200px;height:40px;}
















#screen {
	position:absolute;
	top:0;
	left:0;
	background:#000;
	z-index:9998;
	filter:alpha(opacity=0);
	opacity:0;
	display:none;
}
#login {
	width:350px;
	height:200px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	z-index:9999;
	background:#fff;
}
#login h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(../../img/images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	cursor:move;
}
#login h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#login div.info {
	padding:15px 0 5px 0;
	text-align:center;
	color:maroon;
}



#delete2 {
	width:350px;
	height:200px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	z-index:9999;
	background:#fff;
}
#delete2 h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(../../img/images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	cursor:move;
}
#delete2 h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#delete2 div.info {
	padding:15px 0 5px 0;
	text-align:center;
	color:maroon;
}


#out {
	width:400px;
	height:250px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	z-index:9999;
	background:#fff;
}
#out h2 {
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	letter-spacing:1px;
	color:#666;
	background:url(../../img/images/login_header.png) repeat-x;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	cursor:move;
}
#out h2 img {
	float:right;
	position:relative;
	top:14px;
	right:8px;
	cursor:pointer;
}
#out div.info {
	padding:15px 0 5px 0;
	text-align:center;
	color:maroon;
}
#out .query_out{
padding:20px 40px 20px 90px;
}
#out .query_out .table{
border:1px solid #444;
border-collapse: collapse;
margin:5px;
}
#out .query_out .th{background:#328aa4  repeat-x;color:#FFF;font-size:15px;height:25px;}

#out .query_out .td{
	border:1px solid #444;
	border-collapse: collapse;
	}
#out .query_out .input{border:none;width:80px;height:25px;
}
#out .query_out .select{border:none;width:90px;height:25px;text-align:center;}
#out .query_out .select1{border:none;width:40px;height:25px;}
#out .query_out .select2{border:none;width:70px;height:25px;text-align:center;}
#out .sub_out{
	padding-left:105px;
}



/*#login div.user, #login div.pass {
	font-size:14px;
	color:#666;
	padding:5px 0;
	text-align:center;
}
#login input.text {
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background:#fff;
	font-size:14px;
}
#login .button {
	text-align:center;
	padding:15px 0;
}
#login input.submit {
	width:107px;
	height:30px;
	background:url(../img/images/login_button.png) no-repeat left;
	border:none;
	cursor:pointer;
}
#login .other {
	text-align:right;
	padding:15px 10px;
	color:#666;
}
*/
#loading {
	position:absolute;
	width:200px;
	height:40px;
	background:url(../../images/login_header.png);
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:10000;
	display:none;
}
#loading p {
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#666;
	font-weight:bold;
	background:url(../../images/loading3.gif) no-repeat 20px center;
	text-indent:50px;
}
#success {
	position:absolute;
	width:200px;
	height:40px;
	background:url(../../images/login_header.png);
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:10000;
	display:none;
}
#success p {
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#666;
	font-weight:bold;
	background:url(../../images/success.gif) no-repeat 20px center;
	text-indent:50px;
}


